body {
    background-color: black;
}

h1 {
    color: white;
}

.album-name, .artist-name {
    color: white
}
img {
    max-width: 256px;
    border-radius: 5px;
}

.top, .middle, .bottom{
    display: flex;
    flex-wrap: nowrap;
    border: solid thin white;
    gap: 1rem;
}


.albums {
    display: flex;
    flex-direction: column;;
    gap: 2rem;
}

#a1 {
    border: solid thin white
}

#a2 {
    border: solid thin red
}

.album-card {
    flex: 0 0 calc(50% - 0.5rem);
    box-sizing: border-box;
}

.album-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;;
}