body {
    background-color: black;
    font-size: 16px;
}

h1, h3 {
    color: white;
}

.album-name, .artist-name {
    color: white
}


.top, .middle, .bottom{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.albums {
    display: flex;
    flex-direction: column;;
    gap: 2rem;
}

.album-card {
    flex: 0 0 calc(50% - 0.5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: start;
}

.album-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.album-info {
    display: flex;
    flex-direction: column;
}
.album-name {
    font-size: 1.4rem;
    margin: 0;
}

.artist-name {
    font-size: 0.75rem;
    margin: 0;
    color: rgb(100, 96, 96)
}
